<style>
  @import url('https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.8/static/pretendard.css');
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
  @import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

  html {
    line-height: 1.75;
  }

  code,
  code span {
    font-family: consolas, 'Inconsolata', monospace;
    /*     font-size: .9rem;
    line-height: 1.5;
 */
  }

  * {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-family: 'Pretendard', sans-serif;
  }

  a {
    font-weight: 500;
  }

  aside {
    margin-bottom: 1.2rem;
  }

  .comment_box {
    padding: 2rem;
    color: #094092;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: -0.5px;
    position: relative;
    background-color: #f4f5f7;
    line-height: 1.8;
    filter: drop-shadow(-2px 4px 4px #25344b25);
  }

  .comment_box p {
    margin-bottom: 0.4rem !important;
  }

  .docs-markdown table.comfortable tr td,
  .docs-markdown table.comfortable tr th {
    padding: 0.6rem .8rem;
  }

  .w-full p:not(.hidden) {
    margin-bottom: 0.5rem;
  }

  div[id]>h1,
  div[id]>h2,
  div[id]>h3,
  div[id]>h4,
  div[id]>h5,
  div[id]>h6 {
    margin-top: 3.4rem;
    color: #3f51b5 !important;
  }

  [class^=img] {
    width: auto;
  }

  [class^=img] p {
    display: none;
  }

  .img50 figure img,
  .w50 {
    max-width: 50%;
  }

  .w40 {
    max-width: 40%;
  }

  .w30 {
    max-width: 30%;
  }

  .img20 figure img,
  .w20 {
    max-width: 20%;
  }

  .img10 figure img,
  .w10 {
    max-width: 10%;
  }

  .docs-markdown div[id="목차"]+ul li {
    line-height: 1.8;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 4px;
    font-size: 14px;
  }

  .docs-markdown table.comfortable tr td,
  .docs-markdown table.comfortable tr th {
    padding: 0.5rem 1.25rem;
    font-size: 15px;
  }

  .shadow {
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, .2))
  }

  .normal {
    font-style: normal;
  }

  .mx-1 {
    margin: auto 1rem;
  }

  .mr-1 {
    margin-right: 1rem;
  }

  .my-1 {
    margin: 1rem auto;
  }

  .red,
  .red * {
    color: rgb(210, 26, 170) !important;
    font-size: 1.1rem !important;
  }

  .box {
    background:#f7f7f7;
    padding: 1rem 0 .5rem 1rem ;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1), -1px -1px 2px rgba(0, 0, 0, .1);
  }
</style>