@import url(https://qwerewqwerew.github.io/source/style/reset.css);
body {
	font-size: 1.6rem;
}
.inner {
	width: min(800px, 80%);
	margin: auto;
}
.group {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
